@import "../../lib/**/*.styl"

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

#app {
  padding: 10px;
}

.simple-list-item {
  border: 1px solid #eee;
  padding: 5px;
  margin-bottom: 5px;
}

.styled-label {
  text-align: left;
  display: inline-block;
  padding: 10px 0;
  min-width: 100px;
  background: gray;
}

.big-list-item {
  margin-bottom: 100px;
}

.erc-image {
  max-width: 100px;
}

.styled-btn {
  a {
    line-height: 1.5;
    padding: 10px 20px;
    background: #37ADB7;
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 4px;
  }
}
