
.erc .erc-paragraph {

  .paragraph-editor {
    outline: none;
    background: darken(#444, 20%);
    color: white;
    border: none;
    padding: 2px 3px;
    line-height: 1.5;
    width: 100%;
    box-shadow: inset 0 0 10px darken(#444, 30%);
  }

  .paragraph-placeholder {
    display: block;
    padding: 5px;
    border: 1px dashed #ddd;

    font-style: italic;
    font-size: .8em;
    text-align: center;

    color: #ddd;
  }

}
