@import "../../lib/*.styl"

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  padding: 10px;

  p {
    margin: 0 0 10px 0;
  }
}

.styled-label {
  text-align: left;
  display: inline-block;
  padding: 10px 0;
  min-width: 100px;
}

.label-editor {
  resize: none;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
}

button.editable-wrapper-button {
  border: none;
  padding: 3px 5px;
  background: #444;
  color: white;
  border-radius: 2px;
  outline: none;
  cursor: pointer;

  margin-right: 5px;

  &:hover {
    background: lighten(#444, 10%);
  }

  &:active {
    background: lighten(#444, 20%);
  }

}
