@import "../../lib/*.styl"

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  padding: 10px;

  p {
    margin: 0 0 10px 0;
  }
}

.simple-list-item {
  border: 1px solid #eee;
  padding: 5px;
  margin-bottom: 5px;
}

.styled-label {
  text-align: left;
  display: inline-block;
  padding: 10px 0;
  min-width: 100px;
  background: gray;
}

.label-editor {
  resize: none;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.big-list-item {
  margin-bottom: 100px;
}
