.erc .erc-image-wrapper {

  display: inline-block;

  .erc-image-editor {
    font-size: 12px;
    max-width: 300px;
    min-width: 200px;

    p {
      margin: 0;
    }

    .erc-image-preview-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      background: darken(#444, 20%);
      min-height: 100px;
      margin-bottom: 10px;

      img.erc-image-preview {
        display: block;
        max-width: 280px;
        margin: auto 0;
      }

    }

  }
}
