
.erc .edit-mode-button {
  border: none;
  padding: 3px 5px;
  background: #444;
  color: white;
  border-radius: 2px;
  outline: none;
  cursor: pointer;

  &:hover {
    background: lighten(#444, 10%);
  }

  &:active {
    background: lighten(#444, 20%);
  }

}
