.erc .erc-list-wrapper {

  .erc-list {
    position: relative;
  }

  .erc-list-item {
    position: relative;

    &:hover .erc-list-item-action-bar {
      display: block;
    }
  }

  .erc-list-action-bar {
    text-align: center;
  }

  .erc-list-item-action-bar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    display: none;
  }

}
